.env
usuarios.txt
venv/
__pycache__/
*.pyc
.DS_Store
instance/*.db
*.egg-info/
.pytest_cache/
.coverage
htmlcov/
Z_Analysis.md
flask.log
test_runner/features/*.feature
test_runner/test_output.json
nohup.out
certificado.cer
SSL_Analysis.md
Proyect_Analysis.md
TrialsPlan_Analysis.md
